<style type="text/css">

#site-box { width : 688px ; }

h2{
padding: 0 5px 0 35px;
margin-bottom:10px;
line-height:37px;
font-size: 14px;
font-weight: bold;
color:#a88046;
background-image:url(syouken-images/h2bg.jpg); background-repeat:no-repeat;
}


table#table-01 {
    width: 675px;
    border: 1px #E3E3E3 solid;
    border-collapse: collapse;
    border-spacing: 0;
}

table#table-01 th {
    padding: 5px;
    border: #E3E3E3 solid;
    border-width: 0 0 1px 1px;
    background: #9da0d1;
    font-weight: bold;
    line-height: 120%;
    text-align: center;
}
table#table-01 td {
    padding: 5px;
    border: 1px #E3E3E3 solid;
    border-width: 0 0 1px 1px;
    text-align: center;
}

table#table-02 {
    width: 675px;
    border: 1px #E3E3E3 solid;
    border-collapse: collapse;
    border-spacing: 0;
}

table#table-02 th {
    padding: 5px;
    border: #E3E3E3 solid;
    border-width: 0 0 1px 1px;
    background: #F5F5F5;
    font-weight: bold;
    line-height: 120%;
    text-align: center;
}
table#table-02 td {
    padding: 5px;
    border: 1px #E3E3E3 solid;
    border-width: 0 0 1px 1px;
    text-align: center;
}



</style>
<div id="site-box">
  <h2>人気の証券会社ランキング</h2>
  <p align="center" > <font size="+1" color="#FF0000"><strong>個人投資家が選ぶ満足度No1のネット証券ベスト３ </strong></font> </p>
  <p align="left" > <font size="-1" color="#000000">取引手数料、使い易さ、提供情報量、ツールの豊富さ、システムの安定度、サポート体制、総合的に最も満足できる証券会社をピックアップ！株の初心者から投資上級者まで、個人投資家が最も満足できる証券会社をご紹介！ </font> </p>
  <h3 style="width:675px;height:41px;color:#ffffff;background-image:url(syouken-images/rank1.jpg);
background-repeat:no-repeat;padding-left:50px;padding-top:17px;margin-bottom: 0;"> GMOクリック証券</h3>
  <table id="table-01">
    <tr>
      <td><%= image_tag('syouken-images/ckick.jpg', {width: "637px", height: "458px"})%></td>
    </tr>
  </table>
  <br />
  <p align="left" > <font size="-1" color="#666666"> <strong> 手数料一覧（1約定あたり） </strong> </font> </p>
  <table id="table-01">
    <tr>
      <th><font color="#FFFFFF">約定20万円</font></th>
      <th><font color="#FFFFFF">約定50万円</font></th>
      <th><font color="#FFFFFF">約定100万円</font></th>
      <th><font color="#FFFFFF">約定300万円</font></th>
    </tr>
    <tr>
      <td>194円</td>
      <td>285円</td>
      <td>511円</td>
      <td>967円</td>
    </tr>
  </table>
  <br />
  <table id="table-02">
    <tr>
      <th>現在の口座開設キャンペーン</th>
    </tr>
    <tr>
      <td><p align="left"><font size="-1" color="#000000">××××××××××　　　　5/31まで </font> </p></td>
    </tr>
  </table>
  <br />
  <table id="table-02">
    <tr>
      <th>SBI証券の一押しポイント</th>
    </tr>
    <tr>
      <td><p align="left"><font size="-1" color="#000000">新規IPOに強い。信用取引対応の銘柄が豊富。 </font> </p></td>
    </tr>
  </table>
  <p align="center" >
    <a href="https://www.click-sec.com/corp/kouza/entry/?form=kabu">
        <%= image_tag('syouken-images/button1.jpg', {width: "305px", height: "39px"})%>
    </a>
  </p>
  <br />
  <h3 style="width:675px;height:41px;color:#ffffff;background-image:url(syouken-images/rank2.jpg);
background-repeat:no-repeat;padding-left:50px;padding-top:17px;margin-bottom: 0;"> GMOクリック証券</h3>
  <table id="table-01">
    <tr>
      <td>
        <%= image_tag('syouken-images/ckick.jpg', {width: "637px", height: "458px"})%>
      </td>
    </tr>
  </table>
  <br />
  <p align="left" > <font size="-1" color="#666666"> <strong> 手数料一覧（1約定あたり） </strong> </font> </p>
  <table id="table-01">
    <tr>
      <th><font color="#FFFFFF">約定20万円</font></th>
      <th><font color="#FFFFFF">約定50万円</font></th>
      <th><font color="#FFFFFF">約定100万円</font></th>
      <th><font color="#FFFFFF">約定300万円</font></th>
    </tr>
    <tr>
      <td>194円</td>
      <td>285円</td>
      <td>511円</td>
      <td>967円</td>
    </tr>
  </table>
  <br />
  <table id="table-02">
    <tr>
      <th>現在の口座開設キャンペーン</th>
    </tr>
    <tr>
      <td><p align="left"><font size="-1" color="#000000">××××××××××　　　　5/31まで </font> </p></td>
    </tr>
  </table>
  <br />
  <table id="table-02">
    <tr>
      <th>SBI証券の一押しポイント</th>
    </tr>
    <tr>
      <td><p align="left"><font size="-1" color="#000000">新規IPOに強い。信用取引対応の銘柄が豊富。 </font> </p></td>
    </tr>
  </table>
  <p align="center" > <a href="https://www.click-sec.com/corp/kouza/entry/?form=kabu">
    <%= image_tag('syouken-images/button1.jpg', {width: "305px", height: "39px"})%></a> </p>
  <br />
  <h3 style="width:675px;height:41px;color:#ffffff;background-image:url(syouken-images/rank3.jpg);
background-repeat:no-repeat;padding-left:50px;padding-top:17px;margin-bottom: 0;"> GMOクリック証券</h3>
  <table id="table-01">
    <tr>
      <td><%= image_tag('syouken-images/ckick.jpg', {width: "637px", height: "458px"})%></td>
    </tr>
  </table>
  <br />
  <p align="left" > <font size="-1" color="#666666"> <strong> 手数料一覧（1約定あたり） </strong> </font> </p>
  <table id="table-01">
    <tr>
      <th><font color="#FFFFFF">約定20万円</font></th>
      <th><font color="#FFFFFF">約定50万円</font></th>
      <th><font color="#FFFFFF">約定100万円</font></th>
      <th><font color="#FFFFFF">約定300万円</font></th>
    </tr>
    <tr>
      <td>194円</td>
      <td>285円</td>
      <td>511円</td>
      <td>967円</td>
    </tr>
  </table>
  <br />
  <table id="table-02">
    <tr>
      <th>現在の口座開設キャンペーン</th>
    </tr>
    <tr>
      <td><p align="left"><font size="-1" color="#000000">××××××××××　　　　5/31まで </font> </p></td>
    </tr>
  </table>
  <br />
  <table id="table-02">
    <tr>
      <th>SBI証券の一押しポイント</th>
    </tr>
    <tr>
      <td><p align="left"><font size="-1" color="#000000">新規IPOに強い。信用取引対応の銘柄が豊富。 </font> </p></td>
    </tr>
  </table>
  <p align="center" > <a href="https://www.click-sec.com/corp/kouza/entry/?form=kabu">
    <%= image_tag('syouken-images/button1.jpg', {width: "305px", height: "39px"})%></a> </p>
  <br />
</div>
