<table width="3000px">
  <thead>
    <tr>
      <th>銘柄</th>
      <th>名前</th>
      <th>市場</th>
      <th>株価</th>
      <th>前日比</th>
      <th>出来高</th>
      <th>出来高前日比</th>
      <th>始値</th>
      <th>高値</th>
      <th>安値</th>
      <th>チャート</th>
      <th>ツイッター</th>
      <th>ヤフー</th>
      <th>最終更新日</th>
    </tr>
  </thead>
  <tbody>
    <% @stocks.each do |stock| %>
      <tr>
        <td><%= stock.code %></td>
        <td><%= stock.name %></td>
        <td><%= stock.market %></td>
        <td><%= stock.price %></td>
        <td><%= stock.previousprice %></td>
        <td><%= stock.volume %></td>
        <td><%= stock.previousvolume %></td>
        <td><%= stock.opening %></td>
        <td><%= stock.high %></td>
        <td><%= stock.low %></td>
        <td><%= stock.chart %></td>
        <td><%= stock.twitter %></td>
        <td><%= stock.yahoo %></td>
        <td><%= complete_time(stock.updated_at) %></td>
      </tr>
    <% end %>
  </tbody>
</table>